<%- include('../partials/header') %>

<h2>Flight Details</h2>
<p>Airline: <%= flight.airline %></p>
<p>Airport: <%= flight.airport %></p>
<p>Flight No.: <%= flight.flightNo %></p>
<p>Departure Date/Time: <%= new Date(flight.departs).toLocaleString() %></p>

<h3>Destinations:</h3>
<a href="/destinations/<%= flight._id %>/new">Add Destination</a>
<ul>
  <% if (flight.destinations && flight.destinations.length > 0) { %> <%
  flight.destinations.forEach(function (destination) { %>
  <li>Airport: <%= destination.airport %></li>
  <li>
    Arrival Date/Time: <%= new Date(destination.arrival).toLocaleString() %>
  </li>
  <% }); %> <% } else { %>
  <li>No destinations available for this flight.</li>
  <% } %>
</ul>

<h3>Tickets:</h3>
<a href="/flights/<%= flight._id %>/tickets/new" class="btn btn-primary"
  >New Ticket</a
>
<ul>
  <% tickets.forEach(function (ticket) { %>
  <li>Seat: <%= ticket.seat %></li>
  <li>Price: <%= ticket.price %></li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>
